<a href="https://colab.research.google.com/github/Siu0901/AI_study/blob/main/%EC%B6%94%EC%B2%9C%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%8B%A4%EC%8A%B5(%EC%BD%94%EC%82%AC%EC%9D%B8_%EC%9C%A0%EC%82%AC%EB%8F%84_%ED%99%9C%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
data = pd.read_csv('movies_metadata.csv',low_memory=False)
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
data = data.head(20000)

In [ ]:
print("결값수: ",data['overview'].isnull().sum())

결값수:  135

In [ ]:
data['overview'] = data['overview'].fillna('')

In [ ]:
# tfidf = TfidfVectorizer(stop_words='english')
# tfidf_matrix = tfidf.fit_transform(data['overview'])

tfidf = TfidfVectorizer(stop_words='english').fit(data['overview'])
tfidf_matrix = tfidf.transform(data['overview'])
tfidf_matrix.shape

print(tfidf_matrix)
print(tfidf_matrix[1])
# 이게 보면 coords 쪽에 0, 24361 이런식으로 되어있는데
# 0번 영화의 24361번째 단어의 값이 저 values 숫자라는 거임
# 만약 해당 단어가 포함 안되면 values 값이 0임
# 0.135124515 이건 0번 책에 저 단어가 등장했고 중요도가 저정도란 거임 (단어 등장 빈도)
# tf: 해당 문서에서 특정 단어 얼마나 자주 나왔는가 / idf: 전체에서 얼마나 희귀한가
# fit_transform() 하면 단어 리스트 추출하고 각 문서 벡터(숫자 배열로 변환시킴)
# 그리고 실행하면 coords 쪽에 0번 문서 여러개 있잖아 저거 전체가 하나의 행임
# 데이터 타입은 희소행렬이라는데 일단 배열도 아니고 데이터프레임도 아님
# 보통 TF-IDF 행렬은 대부분의 값이 0이기 때문에 다 저장하면 메모리 낭비 심해서
# 0아닌 값들만, 값의 인덱스, 행의 시작 위치만 저장함

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 535909 stored elements and shape (20000, 47487)>
  Coords	Values
  (0, 24361)	0.10943293956646012
  (0, 46617)	0.4647414414632618
  (0, 2051)	0.41593731108335136
  (0, 43131)	0.15491381382108727
  (0, 24957)	0.0914635103562549
  (0, 18727)	0.13359137839416454
  (0, 36185)	0.115140502331588
  (0, 4736)	0.12600776612424489
  (0, 5775)	0.10961099833635707
  (0, 6290)	0.5036643709879098
  (0, 24759)	0.1955342292890388
  (0, 37166)	0.11699407550916607
  (0, 1254)	0.14896113239800682
  (0, 25229)	0.12052668500637999
  (0, 32291)	0.09637786759647919
  (0, 19047)	0.10485920860731185
  (0, 32424)	0.13359137839416454
  (0, 7974)	0.13030575543855819
  (0, 37778)	0.13329592929044795
  (0, 30780)	0.1036294900077895
  (0, 12920)	0.13359137839416454
  (0, 14393)	0.10323587624822206
  (0, 24325)	0.10272285889754122
  (0, 2811)	0.15246882317431823
  (0, 11645)	0.13942792746208268
  :	:
  (19997, 17559)	0.22181422290087244
  (19997, 16302)	0.2024755912268509
  (19997, 12807)	0.20467253120526815
  (19997, 32206)	0.22181422290087244
  (19997, 28903)	0.2024755912268509
  (19997, 43593)	0.23601571140359728
  (19997, 7955)	0.2507604772184123
  (19997, 14491)	0.2400772760042546
  (19997, 6403)	0.2690235303217945
  (19997, 3485)	0.2690235303217945
  (19998, 24713)	0.16161204387743677
  (19998, 46646)	0.24224167485285572
  (19998, 15959)	0.2634131459925457
  (19998, 2123)	0.4914386974216504
  (19998, 25239)	0.5300420112528954
  (19998, 34978)	0.5686453250841403
  (19999, 25155)	0.2513746643446116
  (19999, 15506)	0.27438105359261933
  (19999, 23261)	0.25876343109753314
  (19999, 33267)	0.29959318467784873
  (19999, 23527)	0.3198603932842145
  (19999, 24392)	0.3547620606044795
  (19999, 17084)	0.42580907795020684
  (19999, 11225)	0.3967094056723883
  (19999, 21100)	0.37141985908973846
<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 33 stored elements and shape (1, 47487)>
  Coords	Values
  (0, 36185)	0.13685433880951928
  (0, 38509)	0.16929702307431144
  (0, 22536)	0.18311951900314802
  (0, 31851)	0.13699501167261183
  (0, 11888)	0.11625526717971484
  (0, 13728)	0.19426015972237545
  (0, 5054)	0.15101230614753863
  (0, 16798)	0.37466026394946117
  (0, 30240)	0.15774651667572767
  (0, 12442)	0.1468184631021944
  (0, 25725)	0.153144376892605
  (0, 46664)	0.08131345008778887
  (0, 44575)	0.1671886734299086
  (0, 21663)	0.19426015972237545
  (0, 1495)	0.3235975639923143
  (0, 1135)	0.15178953341257975
  (0, 43304)	0.1389040491247472
  (0, 21286)	0.13382987596428708
  (0, 430)	0.19273038328703643
  (0, 46965)	0.08707881300372762
  (0, 24973)	0.10467033575170996
  (0, 19854)	0.13274403842882346
  (0, 16355)	0.14183008478968204
  (0, 15562)	0.1662008926777786
  (0, 33496)	0.15152761574364895
  (0, 35885)	0.18412832264611043
  (0, 36455)	0.1434407402481755
  (0, 17265)	0.14618633743152515
  (0, 35691)	0.23240916204200893
  (0, 14422)	0.11697179451949793
  (0, 28035)	0.21232540000831476
  (0, 42245)	0.15075879241695495
  (0, 9823)	0.1528671420613578

In [ ]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
# 여기부분 ㅈㄴ 햇갈린다
cosine_sim.shape
cosine_sim

array([[1.        , 0.01575748, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01575748, 1.        , 0.04907345, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.04907345, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.08375766],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.08375766, 0.        ,
        1.        ]])

In [ ]:
# 여긴 대충 그래프 하는법 긁어온건데 음 뭔가 이상한 듯
# from sklearn.decomposition import PCA
# import matplotlib.pyplot as plt

# doc0 = tfidf_matrix[12481].toarray()
# doc1 = tfidf_matrix[18252].toarray()

# # 두 벡터를 하나의 배열로 결합
# docs = [doc0[0], doc1[0]]

# # PCA로 2차원으로 차원 축소
# pca = PCA(n_components=2)
# reduced_docs = pca.fit_transform(docs)

# # 시각화
# plt.figure(figsize=(8, 6))
# plt.scatter(reduced_docs[0][0], reduced_docs[0][1], color='red', label='Document 0')
# plt.scatter(reduced_docs[1][0], reduced_docs[1][1], color='blue', label='Document 6793')
# plt.title('TF-IDF Vector Visualization (PCA 2D)')
# plt.xlabel('PCA 1')
# plt.ylabel('PCA 2')
# plt.legend()
# plt.grid(True)
# plt.show()
# sim = cosine_similarity(tfidf_matrix[0], tfidf_matrix[15348])
# print(sim[0][0])

In [ ]:
title_to_index = dict(zip(data['title'], data.index))
idx = title_to_index['Father of the Bride Part II']
idx

4

In [ ]:
movie = input("영화 제목을 입력하세요: ")

idx = title_to_index[movie]

sim_scores = list(enumerate(cosine_sim[idx]))

sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

sim_scores = sim_scores[1:11]

movie_indices = [i[0] for i in sim_scores]

result = data.title.iloc[movie_indices]
result

영화 제목을 입력하세요: The Dark Knight

18252                      The Dark Knight Rises
1328                              Batman Returns
15511                 Batman: Under the Red Hood
150                               Batman Forever
19792    Batman: The Dark Knight Returns, Part 1
585                                       Batman
3095                Batman: Mask of the Phantasm
18035                           Batman: Year One
9230          Batman Beyond: Return of the Joker
10122                              Batman Begins
Name: title, dtype: object